.idea/*
.vscode/*
Logs/*
*.ex4
*.dat
Logs*
Files/MQLUNIT/*
!Scripts/profits_statistics_by_magic_num_script.ex4
!Scripts/trading_records_display.ex4
!Scripts/trading_records_display_with_k_bars.ex4
**/__pycache__
